[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
altair = "*"
watchdog = "*"
sklearn = "*"
matplotlib = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
